---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?key=c2f34727aabf37f67164d7029b2fa3c0&op=getSearch&query=&state=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ffb8d1b37d79de2130db144ef5e0f7fee1babd27
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","searchresult":{"summary":{"page":"1 of 3303","range":"1
        - 50","relevancy":"100% - 100%","count":165140,"page_current":1,"page_total":3303,"query":"(<alldocuments>)"},"0":{"relevance":100,"state":"NC","bill_number":"H823","bill_id":1756429,"change_hash":"5e6c12edd02ebf9c48f0c5cf2dcb3042","url":"https:\/\/legiscan.com\/NC\/bill\/H823\/2023","text_url":"https:\/\/legiscan.com\/NC\/text\/H823\/2023","research_url":"https:\/\/legiscan.com\/NC\/research\/H823\/2023","last_action_date":"0000-00-00","last_action":"Ref
        To Com On Rules and Operations of the Senate","title":"Choose Your School,
        Choose Your Future"},"1":{"relevance":100,"state":"AL","bill_number":"HR6","bill_id":1739919,"change_hash":"14db80cec06d1c27be393658956a26e2","url":"https:\/\/legiscan.com\/AL\/bill\/HR6\/2023\/X1","text_url":"https:\/\/legiscan.com\/AL\/text\/HR6\/2023\/X1","research_url":"https:\/\/legiscan.com\/AL\/research\/HR6\/2023\/X1","last_action_date":"0001-01-01","last_action":"Prefiled","title":"Not
        Available"},"2":{"relevance":100,"state":"AL","bill_number":"HR13[...]
[...]
